@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --purple: #8e44ad;
  --red: #c0392b;
  --orange: #f39c12;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.form-container {
  min-height: 100vh;
  background-color: var(--light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-container form {
  padding: 2rem;
  width: 50rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  background-color: var(--white);
  text-align: center;
}

.form-container form h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--black);
}

.form-container form .box {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  margin: 1rem 0;
}

.form-container form p {
  padding-top: 1.5rem;
  font-size: 2rem;
  color: var(--black);
}

.form-container form p a {
  color: var(--purple);
}

.form-container form p a:hover {
  text-decoration: underline;
}

.form-container2 {
  background-color: var(--light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: calc(100vh - 140px);
}

.form-container2 form {
  padding: 2rem;
  width: 50rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  background-color: var(--white);
  text-align: center;
}

.form-container2 form h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--black);
}

.form-container2 form .box {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  margin: 1rem 0;
}

.form-container2 form p {
  padding-top: 1.5rem;
  font-size: 2rem;
  color: var(--black);
}

.form-container2 form p a {
  color: var(--purple);
}

.form-container2 form p a:hover {
  text-decoration: underline;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  background-color: var(--black);
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  background-color: var(--black);
}

.white-btn,
.btn {
  background-color: var(--purple);
}

/* .form-container form .error {
  color: red;
  font-size: 0.9em;
} */

.form-container2 form .error {
  color: red;
  font-size: 1.3em;
  text-align: left;
  padding-top: 0;
  padding-bottom: 8px;
}
.form-container2 form h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--black);
}

.form-container2 form .box {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  margin: 1rem 0;
}

.form-container2 form .input_text {
  resize: none;
  width: 100%;
  height: 140px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--purple);
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 14px 20px;
  display: inline-block;
}

ul li a:hover {
  text-decoration: underline;
}

/* Flexbox container to center the table */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Table styling */
table {
  width: 80%;
  max-width: 1200px; /* To ensure it doesn’t stretch too wide */
  border-collapse: collapse;
  margin: 0 auto; /* Center the table horizontally */
  font-size: 1.2em; /* Increase text size */
}

table th,
table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word;
  max-width: 200px;
  font-size: 1.2rem;
  font-weight: 400;
}

table th {
  background-color: var(--purple);
  color: white;
  height: 5rem;
  font-size: 1.5rem;
}

/* Description column control */
table td:nth-child(2) {
  max-width: 300px; /* Limit the width of the description column */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Alternating row colors */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Form elements styling */
button,
select {
  padding: 8px 12px;
  background-color: var(--purple);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}

button:hover,
select:hover {
  background-color: #555;
}

/* Pagination styling */
.pagination {
  text-align: center;
  margin: 20px 0;
  font-size: small;
}

.pagination a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination a.active {
  background-color: var(--purple);
  color: white;
  border: none;
}

/* Modal Background (hidden by default) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Dull background effect */
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 4rem;
  border-radius: 10px;
  text-align: center;
  font-size: large;
}

/* Button Styling */
button {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: inherit;
}

button:hover {
  background-color: #555;
}

/* Footer Styling */
.footer .credit {
  text-align: center;
  font-size: 1.5rem;
  color: var(--light-color);
  border-top: var(--border);
  margin-top: 2.5rem;
  padding-top: 1.8rem;
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  width: 100%;
}

.footer .credit span {
  color: var(--purple);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 1.8rem;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 3rem;
}
